[init]
  templatedir = ~/.git-templates
[push]
  default = current
[user]
  email = "github@maddie.today"
  name = "Madeline Cameron"
[color]
  ui = auto
[alias]
  ap = add --patch
  d = diff
  s = status
  c = commit -m $1
  fc = commit --amend
  oops = reset --soft HEAD^
  nuke = reset --hard origin $(git rev-parse --abbrev-ref HEAD)
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
  editor = vim
  # Treat spaces before tabs and all kinds of trailing whitespace as an error
  # [default] trailing-space: looks for spaces at the end of a line
  # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space
[merge]
  ff = only
[commit]
  template = ~/.gitmessage
[fetch]
  prune = true
[rebase]
  autosquash = true
[include]
  path = ~/.gitconfig.local
